@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		nord --default,
		dim --prefersdark;
}

@custom-variant dark (&:is([data-theme="dim"] *));

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	@media (width >= theme(--breakpoint-sm)) {
		padding-inline: 2rem;
	}
	@media (width >= theme(--breakpoint-lg)) {
		padding-inline: 4rem;
	}
	@media (width >= theme(--breakpoint-xl)) {
		padding-inline: 5rem;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	main {
		@apply container lg:max-w-5xl mx-auto mt-24;
	}
	article {
		@apply prose max-w-none dark:prose-invert;
	}
}
